<div class="container">
<h2>記事一覧</h2>

<% @magazines.each do |magazines| %>
  <div class="card shadow-lg">
     <div class="card-body">
      <div class="row">
       <div class="col-4">
        <%= attachment_image_tag magazines, :image, size: "250x150", fallback: "no_image.jpg" %>
       </div>
       <div class="col-4">
        <%= link_to magazine_path(magazines.id) do %>
        <h5 class="card-title"><%= magazines.title %></h5>
        <% end %>
        <p class="card-text text-dark"><%= magazines.created_at.strftime('%Y/%m/%d') %></p>
        </div>
     </div>
    </div>
   </div>
<% end %>
</div>