<h2>劇場一覧 顧客側</h2>

<% @theaters.each do |theaters| %>

<p><%= theaters.id %></p>
<%= link_to theater_path(theaters.id) do %>
<p><%= theaters.name %></p>
<% end %>
<p><%#= @theater.prefecture %></p>







<% end %>