<h2>劇場一覧 管理者側</h2>

<%= link_to new_admin_theater_path, data: {"turbolinks" => false}, class: "btn btn-warning pull-right" do %>
  <i class="fas fa-plus"></i>
  新規劇場登録
<% end %>

<% @theaters.each do |theaters| %>

<p><%= theaters.id %></p>
<%= link_to admin_theater_path(theaters.id) do %>
<p><%= theaters.name %></p>
<% end %>
<p><%#= @theater.prefecture %></p>







<% end %>